div#area-tecnicos {
  float: right;
}
/* BOTÕES PRINCIPAIS*/
img.App-logo {
  width: 200px;
  height: 300px;
}

/* div.logo {
  margin: 40px auto;
} */

/*img.App-logo:hover {
  opacity: 0.8;
}*/

/*RODAPÉ*/
.rodape {
  margin-top: 20%;
  width: 100%;
  padding: 20px 5px;
  background-color: #3c3c3f;
  color: white;
  float: left;
}
.rodape h3 {
  float: left;
  margin: 70px;
}
.rodape img {
  float: right;
  width: 100px;
  height: 150px;
  /*margin-top: -10px;*/
  margin-left: 100%;
  margin-top: -170px;
}

a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

div#area-busca {
  margin: 40px 0;
}
