.main-form-chamado {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: aliceblue;
  box-sizing: border-box;
  margin-top: 20px;
}
.main-form-chamado h2 {
  font-size: 25px;
  margin: 20px 0;
}
.main-form-chamado form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #333333;
}
.main-form-chamado form div {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-form-chamado form div select {
  width: 20%;
  padding: 10px;
  margin: 20px;
  border-radius: 6px;
}

.main-form-chamado form div textarea {
  flex: 1;
  width: 70%;
  height: 150px;
  margin: 20px;
  border-radius: 6px;
}
.main-form-chamado form div input[type="file"] {
  margin-left: -10px;
}

.main-form-chamado form div label,
h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 10px 15px;
}
.main-form-chamado form button {
  width: 20%;
  height: 60px;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  border: 0;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: red;
  opacity: 0.5;
  cursor: pointer;
  margin: 15px;
}
.main-form-chamado form button:hover {
  opacity: 1;
}

#main-form-submit {
  display: flex;
  justify-content: space-between;
}
#main-form-submit button[name="retornar"] {
  background-color: blue;
}

@media (max-width: 700px) {
  .main-form-chamado form div {
    flex-direction: column;
    width: 100%;
    font-size: 10px;
  }
}
