.formulario{
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;  
}

.formulario form{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  background-color: rgb(14, 14, 131);

}
.item-title {
  width: 100%;
  margin-bottom: 10px; 
  background-color: black;
}
.item-title h2{
 text-align: center;
}
.item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;  
  margin: auto;
}
 .item input,select{
  width: 80%;
  margin: 10px;
  height: 40px;
 }

 .item select{
  width: 30%;
  margin: 10px;
  height: 40px;
 }

 .item input[type=file]{
   width: 20%;
 }
 .item textarea{
  width: 80%;
  margin: 10px;
 }

  
 .item label{
  margin:0 10px;
  width: 10%;
  font-size: 18px;
 }
 
 .item-submit{
  width: 100%;
  margin: 10px 0;
  text-align: center;
 }
 .item-submit input[type=submit]{
  width: 40%;
  height: 50px;
  text-align: center;
  background-color: red;
  color: white;
  border: none;
  opacity: 0.7;
 }
 .item-submit input[type=submit]:hover{
  opacity: 1;
 }

 /*RESPONSIVIDADE DA TELA - SUBIR A LABEL E DIMINUIR O INPUT */
 @media(max-width: 1200px){
  .item{flex-direction: column; align-items: flex-start;}
  .item select{ width: 80%;}
  .item:first-child{ margin-top: 10px;}
}


