.form-chamado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.form-chamado form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-chamado form div {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 14px;
}
.form-chamado form div select,
input {
  width: 400px;
  height: 27px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.form-chamado form div input,
textarea {
  padding: 10px;
  font-size: 12px;
}

.form-chamado form div textarea {
  width: 400px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.form-chamado form div select,
textarea,
input:hover {
  border: 1px solid rgb(53, 180, 230);
}
.form-chamado form div input[type="file"] {
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 150px;
}
.form-chamado small {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.form-chamado i {
  margin-right: 5px;
  font-size: 25px;
}
