div.error {
  transition: all 1s;
  text-align: center;
}

div.error i {
  margin-top: 7%;
  margin-bottom: 2%;
}

div.error h1 {
  margin-bottom: 2%;
}

div.error p {
  margin: 0 auto;
  width: 70%;
}
