.main-login {
  width: 300px;
  border-radius: 5px;
  position: absolute;
  margin-top: 20px;
  right: 50px;
}
.fa-info-circle {
  margin-right: 10px;
}
.fa-user {
  margin-right: 10px;
}
.menu ul {
  float: right;
  list-style: none;
}
.menu ul li {
  float: left;
  margin: 10px;
}

.menu-login {
  transition: 0.2s;
  width: 80px;
  height: 27px;
  justify-content: center;
  padding-left: 5px;
  padding-top: 1px;
  border-radius: 5px;
}

.menu-login:hover {
  background: #ef191a;
}
