.admin-chamado {
  border-radius: 5px;
  padding: 5px;
}

h1.admin-chamado {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
  font-weight: lighter;
}

form.admin-chamado div {
  margin: 10px;
  padding: 0;
}

select.admin-chamado {
  color: #fff;
  background: #2964ad;
  border: 1px solid #132e4e;
  margin-left: 10px;
  padding: 5px;
  border-radius: 0;
  transition: all 0.5s;
}

button.admin-chamado {
  color: #fff;
  background: #ef191a;
  border: 1px solid #b41919;
  transition: all 0.4s;
  float: right;
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
}

button.admin-chamado:hover,
button.admin-chamado:focus {
  background: #df1919;
}

div.admin-chamado-input {
  margin-left: 20px;
}

div.admin-chamado-input strong {
  margin-left: 5px;
}

div.admin-chamado-input label {
  cursor: pointer;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  display: block;
  padding: 5px;
  transition: all 0.2s;
}

div.admin-chamado-input label:hover {
  background: rgba(0, 0, 0, 0.15);
}

div.admin-chamado-input input[type="checkbox"] {
  display: none;
}

div.admin-chamado-input input[type="checkbox"] + .label-checkbox:before {
  transition: all 0.1s;
}

div.admin-chamado-input input[type="checkbox"] + .label-checkbox:before {
  content: "?";
}
div.admin-chamado-input
  input[type="checkbox"]:checked
  + .label-checkbox:before {
  content: "\2714";
  margin-left: 10px;
  font-weight: bold;
  color: green;
}
/* div.admin-chamado-input input[type="checkbox"]::before {
  content: "\2714";
} */
