/*
  ESTILO PARA TODAS AS PÁGINAS DO
  PAINEL ADMINISTRATIVO!
  !!!!!!!
  */
div.admin-right {
  width: 80%;
  transition: all 1s;
  padding: 0 2%;
  transition: all 0.6s;
  position: absolute;
  right: 0;
  float: right;
}

@media (max-width: 650px) {
  div.admin-right {
    width: calc(100% - 60px);
  }
}
