.user-info-wrapper {
  padding: 10px;
  color: #fff;
  font-size: 0.8em;
  transition: all 0.4s;
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.user-info-wrapper hr {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  top: 5;
}
.user-info {
  cursor: pointer;
  list-style: none;
  display: inline-flex;
  width: 100%;
}

.user-info i {
  position: relative;
  top: 3px;
}

.user-info ul {
  text-align: center;
  margin: 0 auto;
}

.user-info-clicked {
  padding-top: 10;
  padding-left: 5;
}

.user-info-link {
  font-size: 1em;
}

.user-info-link li {
  transition: all 0.4s;
}

.user-info-link li:hover,
.user-info-link li:focus {
  opacity: 0.7;
}
