.admin-table-wrapper {
  width: 100%;
  overflow-x: auto;
}
table.admin caption {
  font-size: 30px;
  font-weight: normal;
  margin: 0.5% 0;
}

table.admin td {
  text-align: center;
  padding: 10px;
}

table.admin thead {
  padding: 10px;
  background: #2964ad;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

table.admin thead td:first-child {
  border-top-left-radius: 5px;
}

table.admin thead td:last-child {
  border-top-right-radius: 5px;
}

table.admin tbody tr:nth-child(2n-1) {
  background: #ddd;
}

table.admin tbody tr:nth-child(2n) {
  background: #eee;
}
table.admin tbody tr {
  transition: all 0.2s;
}

table.admin tbody tr:hover {
  background: #ccc;
}

table.admin tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table.admin tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
