/* .admin-gerenciamento-areas ul {
  list-style: none;
}

.admin-gerenciamento-areas h2 {
  text-align: center;
  font-weight: normal;
} */

.card-shape {
  color: #fff;
  font-size: 1.2em;
}
.card-shape:nth-child(3n-2) {
  background: #2964ad;
}
.card-shape:nth-child(3n-1) {
  background: #d81717;
}

.card-shape:nth-child(3n) {
  background: rgba(0, 0, 0, 0.7);
}
