.admin-table-wrapper {
  width: 100%;
  overflow: auto;
}

table.admin {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

table.admin caption {
  font-size: 30px;
  font-weight: normal;
  margin: 0.5% 0;
}

table.admin td,
th {
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

table.admin th {
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s;
}

table.admin thead th:hover,
table.admin thead th:focus {
  opacity: 0.8;
}

table.admin th span {
  margin-right: 10px;
}

table.admin thead {
  padding: 10px;
  background: #2964ad;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

table.admin thead th:first-child {
  border-top-left-radius: 2px;
}

table.admin thead th:last-child {
  border-top-right-radius: 2px;
}

table.admin tbody tr {
  transition: all 0.4s;
}

table.admin tbody tr:nth-child(2n-1) {
  background: rgba(0, 0, 0, 0.07);
}

table.admin tbody tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}

table.admin tbody tr:hover,
table.admin tbody tr:focus {
  background: rgba(0, 0, 0, 0.2);
}

table.admin tbody tr:last-child td:first-child {
  border-bottom-left-radius: 2px;
}

table.admin tbody tr:last-child td:last-child {
  border-bottom-right-radius: 2px;
}
