div#consultar-chamado {
  margin-right: auto;
  margin-left: auto;
  transition: 1s;
  text-align: center;
}

.consultar-chamado-title {
  margin-top: 40px;
  font-size: 50px;
}

div.wrapper p {
  margin: 20px 20px 10px 10px;
  font-size: 20px;
}

div#consultar-chamado-content {
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  background: white;
  text-align: left;
  padding-bottom: 30px;
}

div#hist-mov {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin-top: 25px;
  padding: 10px 0;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

div h2 {
  text-align: center;
}
