div#login {
  border: 1px solid #122b4b;
  padding: 1em;
  background: #2964ad;
  transition: all 1s;
}

div#login strong {
  color: #fff;
  font-size: 1.2em;
  position: relative;
  bottom: 2.5px;
  left: 2.5px;
}

div#login-content {
  transition: all 2s;
}

div#login nav {
  margin-top: 25px;
}
.esqueceu {
  position: relative;
  top: 7.5px;
  transition: all 0.5s;
  font-size: 95%;
}
.esqueceu:hover {
  opacity: 0.75;
}

button.login-button {
  width: 40%;
  height: 40px;
  float: left;
  margin-right: 10px;
  background: #f01b1b;
  border: 1px solid #690d0d;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  opacity: 0.92;
  transition: 0.2s;
  cursor: pointer;
}

button.login-button:hover {
  background: #f01b1b;
  opacity: 1;
}

nav {
  margin: auto;
  justify-items: center;
}

.fa-user-tie {
  float: right;
  opacity: 0.8;
  margin-right: 10px;
  transition: 0.2s;
  color: #fff;
  cursor: initial;
}

.fa-user-tie:hover {
  opacity: 1;
}
