* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100% !important;
}

body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  background: #fafafa !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

code {
  font-family: "Source Code Pro", "Courier New", monospace;
}

/*
 WRAPPER 
 DIV 100% CENTRALIZADA
*/
div.wrapper {
  margin: 40px auto;
  text-align: center;
}
