* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  background: #fafafa;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
 WRAPPER 
 DIV 100% CENTRALIZADA
*/
div.wrapper {
  margin: 40px auto;
  text-align: center;
}
