#botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}
#botoes button {
  width: 30%;
  height: 20%;
  font-size: 30px;
  transition: 0.2s;
  opacity: 0.8;
  cursor: pointer;
}

button.criar {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background: #2964ad;
  border: 0;
  color: #fff;
  font-size: 1.8em;
}

button.criar:hover {
  opacity: 1;
}

button.acompanhar {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color: #fff;
  border: 0;
  background: #f01b1b;
  font-size: 1.8em;
}

button.acompanhar:hover {
  opacity: 1;
}
 @media(max-width:600px){
  #botoes button{ font-size: 20px; }
 }