.main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}
.main-buttons button {
  width: 30%;
  height: 20%;
  transition: 0.2s;
  opacity: 0.8;
  cursor: pointer;
  font-size: 2em;
}

@media (min-width: 2400px) {
  .main-buttons button {
    width: 20%;
  }
}

@media (min-height: 1300px) {
  .main-buttons button {
    height: 10%;
  }
}

button.criar {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background: #2964ad;
  border: 0;
  color: #fff;
}

button.criar:hover {
  opacity: 1;
}

button.acompanhar {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color: #fff;
  border: 0;
  background: #f01b1b;
}

button.acompanhar:hover {
  opacity: 1;
}
@media (max-width: 600px) {
  #botoes button {
    font-size: 20px;
  }
}

button.goback {
  background: none;
  border: none;
  width: auto;
  cursor: pointer;
  z-index: 10;
}

.fas.fa-undo-alt {
  opacity: 0.3;
  transition: all 0.4s;
}

.fas.fa-undo-alt:hover,
.fas.fa-undo-alt:focus {
  opacity: 1;
}
