div#consultar-chamado {
  margin-right: auto;
  margin-left: auto;
  transition: 1s;
  text-align: center;
}

.consultar-chamado-title {
  margin-top: 1em;
  font-size: 50px;
  font-weight: 700;
}

div.wrapper p {
  margin: 20px 20px 10px 10px;
  font-size: 20px;
}

div#hist-mov {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin-top: 25px;
  padding: 10px 0;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

div#hist-mov h2 {
  text-align: center;
}
